@model IEnumerable<Website_Laptop.Models.PcAnhSp>

@{
    ViewData["Title"] = "AnhSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AnhSanPham</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên File Ảnh
            </th>
            <th>
                Vị trí
            </th>
            <th>
                Mã Sản Phẩm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenFileAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaAnhSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaAnhSp">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaAnhSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
