@using Website_Laptop.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Website_Laptop.Models.PcDanhMucSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh sách sản phẩm</h2>
<p>
    <a asp-action="ThemSanPhamMoi">Thêm sản phẩm mới</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Sản Phẩm
            </th>
            <th>
                Cân Nặng
            </th>
            <th>
                Ảnh đại diện
            </th>
            <th>
                Giá Sản Phẩm
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanNang)
                </td>
                <td>
                    <img class="rounded-circle" style="width: 40px; height: 40px;" src="~/img/product/@item.AnhDaiDien" alt="">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaSp)
                </td>
                <td>
                    <a asp-action="UpdateProduct" asp-route-maSanPham="@item.MaSp">Edit</a> |
                    <a asp-action="ThongTinSanPham" asp-route-maSanPham="@item.MaSp">Details</a> |
                    <button onclick="DeleteProduct('@item.MaSp')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham", new { page = page }))
</div>
<script>
    
    function DeleteProduct(maSp) {
        if (confirm("Bạn có chắc muốn xóa sản phẩm này không?")) {
            $.ajax({
                type: "DELETE",
                url: "/api/AdminProductApi/" + maSp,
                success: function (success) {
                    // Hiển thị thông báo thành công bằng SweetAlert2
                    Swal.fire({
                        icon: 'success',
                        title: 'Xóa thành công!',
                        text: 'Sản phẩm đã được xóa thành công.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Chuyển hướng đến trang cụ thể
                            window.location.href = '/Admin/DanhMucSanPham';
                        }
                    });
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Không thể xóa sản phẩm này khi đang liên quan tới đơn hàng!',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/Admin/DanhMucSanPham';
                        }
                    });
                }
            });
        }
    }
</script>



