@model Website_Laptop.Models.PcUser
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DetailUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Thông tin user</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNameUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNameUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassWordUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassWordUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GmailUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GmailUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiUser)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUser" >Chỉnh sửa</a> |
    <a asp-action="QuanLyUser">Trở lại danh sách</a>
</div>
