@model IEnumerable<Website_Laptop.Models.PcLoaiSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "LoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>LoaiSanPham</h1>

<p>
    <a asp-action="AddLoai">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                    <a asp-action="EditLoai" asp-route-maLoai="@item.MaLoai">Sửa</a> |
                    <a asp-action="DetailsLoai" asp-route-maLoai="@item.MaLoai">Chi tiết</a> |
                    <button  onclick="DeleteLoaiSp('@item.MaLoai')">Xóa</button>
            </td>
            
        </tr>
}
    </tbody>
</table>
<script>

    function DeleteLoaiSp(maLoai) {
        if (confirm("Bạn có chắc muốn xóa loại sản phẩm này không?")) {
            $.ajax({
                type: "DELETE",
                url: "/api/categoryapi/" + maLoai,
                success: function (success) {
                    // Hiển thị thông báo thành công bằng SweetAlert2
                    Swal.fire({
                        icon: 'success',
                        title: 'Xóa thành công',
                        text: 'Loại sản phẩm đã được xóa thành công.',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            // Chuyển hướng đến trang cụ thể
                            window.location.href = '/Admin/LoaiSanPham';
                        }
                    });
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: 'Không thể xóa loại sản phẩm này khi đang liên quan tới sản phẩm',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/Admin/LoaiSanPham';
                        }
                    });
                    console.error("Lỗi khi xóa loại sản phẩm: ", error);
                }
            });
        }
    }
</script>
