@model IEnumerable<Website_Laptop.Models.PcLoaiSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "LoaiSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>LoaiSanPham</h1>

<p>
    <a asp-action="AddLoai">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLoai)
            </td>
            <td>
                    <a asp-action="EditLoai" asp-route-maLoai="@item.MaLoai">Edit</a> |
                    <a asp-action="Details" asp-route-maLoai="@item.MaLoai">Details</a> |
                    <a asp-action="DeleteLoai" onclick="DeleteLoaiSp('@item.MaLoai')" asp-route-maLoai="@item.MaLoai">Delete</a>
            </td>
            
        </tr>
}
    </tbody>
</table>

<script>

    function DeleteLoaiSp(maLoai) {
        if (confirm("Bạn có chắc muốn xóa loại sản phẩm này không?")) {
            $.ajax({
                type: "DELETE",
                url: "/api/categoryapi/" + maLoai,
                success: function (success) {
                    console.log("Xóa loại sản phẩm thành công")
                },
                error: function (error) {
                    console.error("Lỗi khi xóa loại sản phẩm: ", error);
                }
            });
        }
    }
</script>
