@model IEnumerable<Website_Laptop.Models.PcQuocGiaSx>

@{
    ViewData["Title"] = "QuocGia";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>QuocGia</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenQuocGiaSx)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenQuocGiaSx)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaQuocGiaSx">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaQuocGiaSx">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaQuocGiaSx">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
